- input_type: log
  paths:
  - /var/log/mesos/*.log
  - /var/log/dcos/dcos.log
  fields:
    mesos_slave_id: {{slaveId}}
{{#taskDetails}}
- input_type: log
  paths:
  {{#absolutePaths}}
  - "{{.}}"
  {{/absolutePaths}}
  fields:
    "@type": {{type}}
    mesos_slave_id: {{slaveId}}
    mesos_framework_id: {{frameworkId}}
    mesos_framework_name: {{frameworkName}}
    mesos_task_id: {{taskId}}
{{#multilineEnabled}}
  multiline:
    pattern: '{{multilinePattern}}'
    negate: {{multilineNegate}}
    match: {{multilineMatch}}
{{/multilineEnabled}}
{{/taskDetails}}
